@charset "UTF-8";


@keyframes animation {

    /*from { color: #6D9DE7;}
    to { color: #00c3ff;}*/
    
    0% { color: #6D9DE7;}
    50% { color: #17d0d6;}
    100% { color: #6D9DE7;}

}

@keyframes brilho{
    0% {color: #ffffff; text-shadow: 0px 0px 12px #ffffff, 0 0 50px #fcfcfc, 0 0 100px #ffffff;}
}


/*

1. *Azul Céu Noturno:* Um azul profundo que remete ao mistério e à profundidade dos sonhos, ideal para fundos e elementos principais.
2. *Prata Cibernética:* Um tom metálico que evoca a tecnologia e a modernidade, perfeito para detalhes e ícones.
3. *Verde Menta:* Uma cor refrescante e calmante, ótima para botões de ação e destaques.
4. *Lavanda Suave:* Um roxo claro que inspira criatividade e espiritualidade, adequado para seções de conteúdo e menus.
5. *Cinza Neutro:* Um cinza claro para equilibrar e proporcionar um visual limpo e acessível, usado em textos e áreas de informação.

    color: #4A6EDB;  Azul Céu Noturno 
    color: #A0A0A0;  Prata Cibernética
    color: #5BD1A8;  Verde Menta 
    background-color: #EAE6FF; Lavanda Suave
    background-color: #F4F4F4;  Cinza Neutro 

*/

/*telas pequenas*/



/**/

*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

i.material-symbols-outlined{
    display: none;
}

body {
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
    overflow-x: hidden;
    transition: background 0.2s linear;
}

body section#Benefícios article section#ruim{
    width: 70vw;
}

p{
    padding: 16px;
    margin: 0px;
}

div#bt-dark{
    position: fixed;
    top: 35px;
    
    margin: 20px;
}

header{
    height: 510px;
    background-color: #010254;
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

.checkbox{
    opacity: 0;
    position: absolute;

}

.label{
    background-color: #111;
    border-radius: 50px;
    cursor: pointer;

    display: flex;
    align-items: left;
    justify-content: space-between;

    padding: 5px;
    position: relative;
    height: 26px;
    width: 50px;

    transform: scale(1.5);
}

.label .ball{
    background-color: #fff;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;

    height: 22px;
    width: 22px;

    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: #A0A0A0;
}

.fa-sun {
    color: #f39c12;
}

header > img{
    border-radius: 50%;
    margin: auto;
}

header > h1{
    color: white;
    margin-bottom: 20px;
    font-size: 3em;
    padding-top: 12px;
    font-weight: normal;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

header > h1 > span.cor{
    color: #6D9DE7;
    animation-name: animation;
    animation-duration: 4s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.cor > span{
    animation-name: brilho;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
}

.cor > span:nth-of-type(2){
    animation-delay: 0.25s;
}

.cor > span:nth-of-type(3){
    animation-delay: 0.5s;
}

.cor > span:nth-of-type(4){
    animation-delay: 0.75s;
}

.cor > span:nth-of-type(5){
    animation-delay: 1s;
}

.cor > span:nth-of-type(6){
    animation-delay: 1.25s;
}

header > p{
    font-size: 1.2em;
    color: white;
    max-width: 600px;
    padding-right: 10px;
    padding-left: 10px;
    padding-bottom: 24px;
    padding-top: 0px;
    margin: auto;
    margin-bottom: 0;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 344);
}

.nav{
    position: sticky;
    top: 0;

    background-color: aqua;
    padding: 10px;
}

nav menu{
    margin: 3px;
}

nav > menu > a{
    padding: 8px;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
    transition-duration: 0.5s;
}

nav > menu > a:hover{
    background-color: white;
    color: black;
}

main{
    background-color: white;
    min-width: 300px;
    margin: auto;
    padding: 20px;
    margin-bottom: 30px;
}

main h2{
font-weight: normal;
font-size: 1.8em;
text-indent: 8px;
}

main h3{
    font-weight: normal;
    font-size: 1.4em;
    text-indent: 8px;
}

main p{
    margin: 15px 0px 15px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 1.8em;
}

section{
    width: 97vw;
    background-position: left center;
    background-repeat: no-repeat;

    background-attachment: fixed;
}

section#Especialistas{
    width: 90vw;
    padding: 10px;
    margin: auto;
    border-radius: 10px 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.456);
    background-color: #F4F4F4;
}

section#Comentarios{
    width: 90vw;
    padding: 10px;
    margin: auto;
    border-radius: 10px 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.456);
    background-color: #F4F4F4;
}

section#img1{
    background-image: url(../imagens/img1-sobre.jpg);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.445);
}

section#img2{
    background-image: url(../imagens/img-crt-pq.jpg);
    border-radius: 10px 0px 0px 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.445);
}

section.dir{
    display: flex;
}

article.normal{
    padding: 8px;
    margin: 32px;
    background-color: #F4F4F4;
    border-radius: 10px 10px;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.445);
}

article.imagem {
    background-color: #ececec;
    border-radius: 0px 10px 10px 0px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.445);
    margin: auto;
    padding: 16px;
    width: 90vw;
}

article#crte{
    width: 99vw;
}

aside{
    padding: 10px;
    margin: 32px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486) ;
}

aside > h3{
    color: white;
    padding: 10px;
    margin: -10px -10px 0px -10px;
}

aside > ul{
    list-style-position: inside;
    columns: 2; /*para dividir as colunas*/

    padding: 5%;
    margin: auto;
}

footer{
    background-color: aqua;
    text-align: center;
    font-size: 0.8em;
    padding: 5px;
}

footer > p > a{
    font-weight: bold;
    text-decoration: none;
}

footer a:hover{
    text-decoration: underline;
}

/* Estilos para o tema escuro */

body.dark {
    background-color: #121212;
    color: #ffffff;
}

body.dark header {
    background-color: #080808;
}

body.dark section#Especialistas{
    background-color: #121212;
    color: #ffffff;
}

body.dark section#Comentarios{
    background-color: #121212;
    color: #ffffff;
}

body.dark section#Para-Voce{
    background-color: #121212;
    color: #ffffff;
}

body.dark section#Características{
    background-color: #121212;
    color: #ffffff;
}

body.dark section#Benefícios{
    background-color: #121212;
    color: #ffffff;
    width: 90vw;
}

body.dark section#Benefícios article section#ruim{
    background-color: #121212;
    color: #ffffff;
    width: 70vw;
}

body.dark section#Sobre{
    background-color: #121212;
    color: #ffffff;
}


body.dark .nav {
    background-color: #333333;
}

body.dark footer {
    background-color: #1a1a1a;
    color: #ffffff;
}

/*parte de imagens*/

div.slider img{
    width: 100vw;
    height: 100vh;
}

.slider{
    border-radius: 20px;
    margin: 0 auto;
    width: 90vw;
    overflow: hidden;
    display: flex;
}

.slider input{
    display: none;
}

.navigation-manual{
    position: absolute;
    width: 700px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    margin-top: 650px;
    border: 2px solid #000000;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background-color: #050505;
}

#radio1:checked ~ .first{
    margin-left: 0;
    transition: 0.5s;
}

#radio2:checked ~ .first{
    margin-left: -115%;
    transition: 0.5s;
}

#radio3:checked ~ .first{
    margin-left: -227%;
    transition: 0.5s;
}

#radio4:checked ~ .first{
    margin-left: -337%;
    transition: 0.5s;
}

/*segundo*/

#radioo1:checked ~ .first{
    margin-left: 0;
    transition: 0.5s;
}

#radioo2:checked ~ .first{
    margin-left: -115%;
    transition: 0.5s;
}

#radioo3:checked ~ .first{
    margin-left: -227%;
    transition: 0.5s;
}

#radioo4:checked ~ .first{
    margin-left: -337%;
    transition: 0.5s;
}

.navigation-auto div{
    border: 2px solid #20a6ff;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

#radio1:checked ~ .navigation-auto .auto-bnt1{
    background-color: #050505;
}

#radio2:checked ~ .navigation-auto .auto-bnt2{
    background-color: #050505;
}

#radio3:checked ~ .navigation-auto .auto-bnt3{
    background-color: #050505;
}

#radio4:checked ~ .navigation-auto .auto-bnt4{
    background-color: #050505;
}

/* Outros estilos para elementos específicos no modo escuro */

body.dark section,
body.dark article,
body.dark aside {
    background-color: #1a1a1a;
    color: #ffffff;
}

body.dark nav > menu > a {
    background-color: #333333;
    color: #ffffff;
}

body.dark nav > menu > a:hover {
    background-color: #ffffff;
    color: #000000;
}

body.dark > header > h1 > span.cor{
    color: #333536;
    animation-name: none;
    animation-duration: 6s;
    }

/*comentarios*/

.video-comentario {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

video {
    width: 70vw;
    height: 80vh;
    margin: auto;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.486);
    object-fit: cover;
}

#read-more-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4A6EDB; /* Azul Céu Noturno */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
}

#read-more-btn:hover {
    background-color: #374b9c; /* Tom mais escuro do azul */
}